<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso</title>
    {% load django_bootstrap5 %}
  {% bootstrap_css %}

  {% load widget_tweaks %}

  {% load static%}
</head>
<body class="bg-light">
    {% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
            

            <form method="post" role="form">
                {% csrf_token %}
                <h2 class="text-center mb-4"> Inicie sesion</h2>
                {% for field in form %}
                    <div class="mb-3">
                    {{field.label_tag}}
                    {{field|add_class:"form-control"}}
                    {%if field.errors %}
                        <small>{{field.errors|striptags}}</small>
                    {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" value="Ingresar" class="btn btn-primary full-width">
            </form>
        </div>
    </div>
    {% endblock content %}
</body>

<script>
    localStorage.setItem('clave', 'valor'); //almacena el par clave ('clave') -valor ('valor')
    localStorage.getItem('clave'); //retorna "valor"
    localStorage.key(0); //retorna "clave"
    localStorage.removeItem('clave'); //borra el par clave-valor
    localStorage.clear(); //borra todos los datos
</script>

</html>